<nav class="my-nav" ng-controller="navCtrl">
	<div class="icon-wrapper" ng-class="{'active' : isCollapsed}" ng-click="isCollapsed = !isCollapsed">
		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 6h-24v-4h24v4zm0 4h-24v4h24v-4zm0 8h-24v4h24v-4z"/></svg>
	</div>
	<div class="menu-wrapper">
		<ul ng-if="isCollapsed">
			<li><a href="#!/about">A Propos</a></li>
			<li ng-repeat="c in categories"><a ng-href="#!/{{c.name}}">{{c.name}}</a></li>
			<li><a href="#!/archives">Archives</a></li>
			<li><a href="#!/contact">Contact</a></li>
		</ul>
	</div>
</nav>
