<div ng-include="'views/components/header.html'"></div>

<div ng-controller="homeCtrl" class="page-content">
  <h2 class="text-center text-white banner">Nos derniers articles</h2>
  <div class="container">
    <div class="row">
      <main class="col-sm-8 col-sm-offset-2">
          <ul class="posts-list">
            <li ng-repeat="p in posts">
              <h3>{{p.title}}</h3>
              <div class="img-wrapper" ng-if="p.image">
                <div class="post-category is-color1 text-white">
                  {{p.category.name}}
                </div>
                <img class="img-responsive" ng-src="{{p.image}}" />
              </div>
              <div>par {{p.author}}, le {{p.created_at | date: 'dd MMMM yyyy'}}</div>
              <article>{{p.summary}}</article>
              <a ng-href="#!/articles/{{p.slug}}">Lire la suite <i class="glyphicon glyphicon-arrow-right"></i></a>
            </li>
          </ul>
          <div class="text-center">
            <a href="#!/archives">
              <button class="button is-color2 text-white">Articles plus anciens</button>
            </a>

          </div>
      </main>
    </div>
  </div>
</div>

<div ng-include="'views/components/footer.html'"></div>
